{% extends 'index.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<form action="{{ url_for('login') }}" method="post">
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
        </div>
	<p>Don't have a account <a href={{ url_for('register') }}>Register</a></p>
    </form>
{% endblock %}


